<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="{{ .Site.PublicURL }}" />
        <link rel="stylesheet" href="style.css">

    </head>
<body>

    <header class="bl-header">

    </header>
    <div class="bl-view-wrapper">
        <div class="bl-view">
            <nav class="css bl-nav-wrapper">
                <div class="bl-nav">
                {{ template "_navi.html" .Menu }}
                </div>
            </nav>
            <div class="css bl-container-wrapper">
                <div class="css bl-container">
                    <div class="bl-content-wrapper">
                        <div class="bl-content">
                            <div class="markdown-body">
                                {{ .Content }} 
                            </div>
                       
                        </div>
                        
                    </div>            
          
                    <aside class="bl-sidebar-wrapper">
                        Side
                    </aside>
                </div>

            </div>
        </div>

  
    </div>
    
    <!--
    <div class="main-view-wrapper fx-d_row fx-s_1 fx-b_0 fx-g_1 css">
        <div class="main-view">
            <div class="main-nav-wrapper css">
                <nav class="main-nav">
                    <div class="main-nav-overlay css">
                        <div class="main-nav-inner css">
                            {{ template "_navi.html" .Menu }}
                        </div>
                    </div>
                    <div class="main-nav-bottom css">
                        bottom
                    </div>
                    
                </nav>
            </div>
           
            {{ .Content }}
        </div>

    </div>

-->



</body>
</html>